<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App2 Signup Page</title>
</head>
<body>
    <form action="signup", method="post">
        {% csrf_token %}

        User Name: <input type="text", name="username"></br></br>

        First Name: <input type="text", name="first_name"></br></br>

        Last Name: <input type="text", name="last_name"></br></br>

        Email-Id: <input type="email", name="email"></br></br>

        Password: <input type="password", name="password"></br></br>

        <input type="submit", name="Submit">

    </form>
</body>
</html>